<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <% if (users.length > 0) { %>
            <% for (let user of users) {%>
            <li>
                <%= user.name %>
            </li>
            <% } %>
        <% } else { %>
            <h1>No Users Found</h1>
        <% } %>
    </main>

<%- include('includes/end.ejs') %>